%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :name
    = f.text_field :username, placeholder: "HELLO, my name is..."
  %div
    = f.label :email
    = f.email_field :email, placeholder: 'you@awesome.com'
  %div
    = f.label :password
    = f.password_field :password, placeholder: "H@rd2H@ck!"
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation, placeholder: "H@rd2H@ck!"
  %div= f.submit "Sign up", class: 'btn btn-success btn-medium'