= form_for @comment, remote: true, format: :json do |f|
  - if subtype == "review"
    .row
      .span8.star_rating_feedback
        %p Your Rating
    .row
      .span2.star_rating_feedback
        #star_rating
      .span1.rating-target
        %p#number_of_stars_text
  .row.input-fields
    = f.text_field :title, placeholder: "title", id: 'name'
    - if !current_user.present?
      = f.fields_for @lead do |l|
        = l.text_field :email, placeholder: "email", id: 'name'
    = f.text_area :body, placeholder: "What do you think about this product?", id: 'comment'
    = f.hidden_field :commentable_type, value: commentable_type
    = f.hidden_field :commentable_id, value: commentable_id
    = f.hidden_field :subtype, value: subtype
  .row
    .span2.offset6
      = f.submit "Submit", id: 'comment_submit'