= form_for @comment, remote: true, format: :json do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2
        = pluralize(@comment.errors.count, "error")
        prohibited this review from being saved:
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  .row
    - 1.upto(5) do |value|
      = star_button_rate(type.constantize.find(commentable_id), value, (value==0))
  .row
    = f.text_field :title, placeholder: "Your review title"
  .row
    = f.text_area :body, placeholder: "What do you think about this product?"
    = f.hidden_field :c_type, value: type
  .row
    = f.submit "Submit", class: 'btn btn-success'
