%h5= comment.title
- if comment.user.present?
  = image_for(comment.user, "25x25")
- else
  = gravatar_for(comment.lead.email, "25x25")
.star
  - if comment.rating.present?
    = image_tag "stars#{comment.rating}.png"
= comment.body