%h5= comment.title
- unless comment.user_id.zero?
  = image_for(comment.user, "25x25")
- else
  = gravatar_for(comment.email, "25x25")
.star
  - if comment.rating.present?
    = image_tag "stars#{comment.rating}.png"
= comment.body