.comment
  .row
    .comment_author.span1
      = author_image(comment)
      .comment_author_details
        %p.comment_author_name= author_name(comment)
        %p.comment_author_date= comment.created_at.strftime("%b %d, %Y")
    .comment_archived_first
      - if comment.rating.present?
        .star_rating{ "data-rating" => comment.rating }
          %p My Rating
          #star2
            = image_tag "product/stars#{comment.rating}.png"
      .comment_copy.span6
        = comment.body