.span4
.span5.buy-overview
  %button{id: 'buy_middle', class: 'buy'}
    = image_tag 'product/buy-now-middle.png'

  %h1.title= @product.title
  %p.price= price_in_dollars
  #star2
    #rating-white{"data-rating" => average_rating, "data-comments" => num_ratings}
  - if num_ratings.zero?
    %a{:href => "#leave_review"}
      %p.read_all_reviews
        leave the first review >
  - else
    %a{:href => "#comments"}
      %p.read_all_reviews
        = "read all #{num_ratings} reviews >"
.span3
  %ul.bullets
    %li Create Your Own Ideas
    %li Get the Job of Your Dreams
    %li Increase Your Earning Potential
    %li Be Part of A Passionate Community
    %li Work From Anywhere in the World