.product_box
  = image_tag @product.images.first.cover.url, class: "product_image"
  .box_details.span3
    .star_rating
      #rating{"data-rating" => average_rating, "data-comments" => num_ratings }
    %p.download_sample
      = image_tag "product/download-hover.png"
      = link_to "Download a free sample", "#{@product.permalink}/download_sample"
    %p= "You'll get a #{file_type}"
    %p.size= "#{file_size} KB"
    %p.price= price_in_dollars
  .checkout
    %button{id: 'buy-top', class: 'buy'}
      = image_tag 'product/buy-top.png'
.product-border