= form_for @product, html: { multipart: true } do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this poll from being saved:
      %ul
        - @product.errors.each do |attr, msg|
          - if attr == :attachments or attr == :images
            %li= msg
          - else
            %li= "#{attr.capitalize} #{msg}"

  .row
    = f.label "Title*"
    = f.text_field :title, placeholder: "Best product you'll ever buy!"
  .row
    = f.fields_for :images do |i|
      = i.label "Product Image*"
      = i.file_field :cover
    = f.fields_for :attachments do |a|
      = a.label "Product Item*"
      = a.file_field :item
      = a.label "Price in US Dollars"
      = a.text_field :price_in_cents, placeholder: '$25.00'
  .row
    = f.label "Description*"
    = f.text_area :description, class: 'wysihtml5'
  .row
    = f.submit class: 'btn btn-success'