
= form_for @product, html: { multipart: true } do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this poll from being saved:
      %ul
        - @product.errors.each do |attr, msg|
          - if attr == :attachments or attr == :images
            %li= msg
          - else
            %li= "#{attr.capitalize} #{msg}"
  .row
    .span4
      = f.fields_for :images do |i|
        .row
          = i.label "Product Image*"
        .row
          = i.file_field :cover
      .row
        = f.label "Free Sample"
      .row
        = f.file_field :sample
      = f.fields_for :attachments do |a|
        .row
          = a.label "Product Item*"
        .row
          = a.file_field :item
    .span8
      .row
        = f.label "Title*"
      .row
        = f.text_field :title, placeholder: "Best product you'll ever buy!"
      .row
        = f.label :price_in_cents
      .row
        = f.text_field :price_in_cents, placeholder: '2500'
      .row
        = f.label "Description*"
      .row
        = f.text_area :description
  .row
    = f.submit class: 'btn btn-success'