.overlay
.pay_popup
  %h1.title= @product.title
  %p= "You'll get a #{file_type} (#{file_size} KB)" #TODO make same font at Downlaod a free sample
  .close
    = link_to (image_tag 'product/close-payment.png'), 'javascript:void(0)'

  %form#payment{:action => "/charge?id=#{@product.id}", :method => "post" }
    .billing_errors
    = hidden_field_tag :credit_card_token, value: ""

    %ul
      %li
        = label_tag :card_number
        = text_field_tag :card_number, nil, placeholder: "1234 5678 9123 4567"
      %li
        = label_tag :expiration_date
        = text_field_tag :expiration_date, nil, placeholder: 'MM / YYYY'
      %li
        = label_tag :email
        = text_field_tag :email, nil, placeholder: 'name@email.com'
      %li
        = label_tag :field_name, "CVC code"
        = text_field_tag :cvc, nil, placeholder: "123"

    = submit_tag "Pay #{price_in_dollars}", id: 'make_payment', name: 'make_payment'

  %p.pay_thanks
    = "Thanks for purchasing #{@product.title} from #{@author.username}."
    = "The #{file_type} will begin downloading momentarily. You will also receive a copy of it in your email."
    = 'Enjoy!'

  %script{:src => "https://js.stripe.com/v1/", :type => "text/javascript"}
  :coffeescript
    Stripe.setPublishableKey "#{@product.user.payment.publishable_key}"

    $(document).ready ->

      validateEmail = (email) ->
        re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        re.test email

      $("form#payment").submit (event) ->
        form = $(this)
        form.find(".billing_errors").html ""
        card_number = $("#card_number").val()
        exp_date = $("#expiration_date").val()
        email = $("#email").val()
        cvc = $("#cvc").val()
        exp_date_split = $("#expiration_date").val().split(" / ")
        exp_month = exp_date_split[0]
        exp_year = exp_date_split[1]

        # validate that all fields are present
        if card_number is "" or exp_date is "" or email is "" or cvc is ""
          form.find(".billing_errors").prepend "<p>Please fill out all the fields below</p>"
          false

        # validate that the value of each field is correct

        # card number
        else if Stripe.validateCardNumber(card_number) is false
          form.find(".billing_errors").prepend "<p>Please enter a valid credit card number</p>"
          false

        # expiration date
        else if Stripe.validateExpiry(exp_month, exp_year) is false
          form.find(".billing_errors").prepend "<p>Please enter a valid expiration date</p>"
          false

        # email
        else if validateEmail(email) is false
          form.find(".billing_errors").prepend "<p>Please enter a valid email address</p>"
          false

        # cvc
        else if Stripe.validateCVC(cvc) is false
          form.find(".billing_errors").prepend "<p>Please enter a valid CVC code</p>"
          false

        # submit the form to stripe
        else
          form.find("[type=submit]").attr "disabled", "disabled"
          Stripe.createToken
            number: card_number
            exp_month: exp_month
            exp_year: exp_year
            cvc: cvc,
            (status, response) ->
              if response.error
                form.find(".billing_errors").prepend "<p>" + response.error.message + "</p>"
                form.find("[type=submit]").removeAttr "disabled"
              else
                $("#credit_card_token").val response["id"]
                form.get(0).submit()
                $(form).hide()
                $(".pay_thanks").fadeIn "fast"

          false