%h1
  = @product.title
= image_tag @product.images.first.cover.url, width: '100', height: '100'
%br\
%form{:action => "/charge?id=#{@product.id}", :method => "post" }
  %script.stripe-button{"data-key" => @product.user.payment.publishable_key, #ENV['STRIPE_PUBLISHABLE'], #@product.user.payment.publishable_key, #ENV['STRIPE_PUBLISHABLE'],#current_user.payment.publishable_key,
                        "data-amount"=> @product.attachments.first.price_in_cents,
                        :src => "https://checkout.stripe.com/v2/checkout.js"}
%ul
  %li
    = @product.description.html_safe
  %li
    = @product.attachments.first.item_file_size
  %li
    = @product.attachments.first.item_content_type
  %li
    = @product.attachments.first.item_file_name
  %li
    = "$ #{@product.attachments.first.price_in_cents/100}"

= link_to "download #{@product.title}", download_path(id: @product.attachments.first.id)